.App {
  height:50vh;
  width: 50vw;
  font-family: sans-serif;
  text-align: center;
  left:25%;
  position:absolute;
}

.mapDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
/* .c1{
  flex:1;
}

.c2{
  flex:0 0 300px;
} */

